[submodule "extern/borealis"]
	path = extern/borealis
	url = https://github.com/xfangfang/borealis.git
[submodule "extern/moonlight-common-c"]
	path = extern/moonlight-common-c
	url = https://github.com/XITRIX/moonlight-common-c.git
[submodule "extern/CImg"]
	path = extern/CImg
	url = https://github.com/XITRIX/CImg.git
