[submodule "extern/borealis"]
	path = extern/borealis
	url = https://github.com/XITRIX/borealis.git
[submodule "extern/moonlight-common-c"]
	path = extern/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "extern/CImg"]
	path = extern/CImg
	url = https://github.com/dtschump/CImg.git
